page-ajustes {

}


.linha{
  background-color: black;
  color: black;
  padding: 0.5px 150px;
  font-size: 11.2px;
  top:11px;
  left: 10px;
  margin-top: 15px;
  margin-left: 45px;
}

.but1{
  background-color: clear;
  color: black;
  padding: 10px 10px;
  font-size: 11.4px;
  font-family: arial;
  top:15px;
  left: 10px;
  margin-top: -15px;
  margin-left:-25px;
}


.img1 {

color: black;
padding: 20px 13px;
font-size: 35px;
margin-left: 5px;
}
