page-principal {

  .mensagem {
  display: inline-block;
  background-color: clear;
  color: #01DF01;
  padding: 50px 35px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 70px;
  border: 0px;
  }


  .titulo{
    float: right;
    padding: 8px 80px 5px 5px;

  }

  .logo{
    float: left;
      margin-left: 35px;
  }

  .lista {
  display: inline-block;
  background-color: clear;
  color: black;
  padding: 50px 35px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 70px;
  border: 0px;
  }


  .cartao {
  display: inline-block;
  background-color: clear;
  color: blue;
  padding: 50px 35px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 70px;
  border: 0px;
  }

  .ajuste {
  display: inline-block;
  background-color: clear;
  color: grey;
  padding: 50px 35px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 70px;
  border: 0px;
  }

  .h7{
    margin-left: 40px;
  }
  .h8{
    margin-left: 49px;
  }
  .h9{
    margin-left: 35px;
  }


}
