page-lista-produto {

  .font{
    font-family: arial;
  }

  .cor{
    background-color:#01DF01 ;
    padding: 2px 125px;
    font-size: 15px;
    color: white;
    margin-left: -15px;

  }

  .cor2{
    background-color:#01DF01 ;
    padding: 2px 135px;
    font-size: 15px;
    color: white;
    margin-left: -15px;
  }

  .cor3{
    background-color:#01DF01 ;
    padding: 2px 67px;
    font-size: 15px;
    color: white;
    margin-left: -15px;
  }
}
