page-atu-dados {

}

.butA{
  background-color: clear;
  color: black;
  padding: 10px 10px;
  font-size: 11.4px;
  font-family: arial;
  left: 10px;
  margin-left: -25px;
}

.butA2{
  background-color: clear;
  color: black;
  padding: 10px 10px;
  font-size: 11.4px;
  font-family: arial;
  left: 10px;
  margin-top: -10px;
  margin-left: -25px;
}


.butA11{
  top: 15px;
}

.butA22{
  top: 0px;
  left:175px;
}

.imgA {

color: black;
padding: 20px 13px;
font-size: 35px;
}


.linhaA{
  background-color: black;
  color: black;
  padding: 0.5px 150px;
  font-size: 11.2px;
  margin-top: -5px;
  margin-left: 52px;
}
