page-finalizar {
  .font{
    color:#01DF01;
    float: right;
    padding: 1px 90px 5px 5px;
  }

  .font2{
  color:red;
  float: right;
}

  .cor3{
    background-color:#01DF01 ;
    padding: 2px 3000px;
    font-size: 1px;
    color: white;
    margin-left: -15px;
  }
  .img{

    font-size: 25px;
  }

  .but{
        float: right;
        position: relative;
  }

  .item{
  width: 100%;
  position: relative;
  height: 57%;
  }

}
