page-pagamento {

}


.icoP {

color: black;
padding: 20px 13px;
font-size: 27px;
margin-left: -5px;
}
.icoP2 {
color: black;
padding: 20px 13px;
font-size: 27px;
margin-left: -14px;
}

.butP{
  background-color: clear;
  color: black;
  padding: 10px 10px;
  font-size: 11.4px;
  font-family: arial;
  top:11px;
  left: 5px;
}

.butP2{
  background-color: clear;
  color: black;
  padding: 10px 10px;
  font-size: 11.3px;
  font-family: arial;
  top:5px;
  left: 7px;
}

.linhaP{
  background-color: black;
  color: black;
  padding: 0.5px 150px;
  font-size: 11.2px;
  margin-top: 10px;
  left: 10px;
  margin-left: 47px;
}

.linhaP2{
background-color: black;
color: black;
padding: 0.5px 150px;
font-size: 11.2px;
top:25px;
left: 10px;
margin-top: 2px;
margin-left: 50px;
}
