page-pagamento {

}


.ico1 {

color: black;
padding: 20px 13px;
font-size: 27px;
}
.ico2 {
color: black;
padding: 20px 13px;
font-size: 27px;
}

.but1{
  background-color: clear;
  color: black;
  padding: 10px 10px;
  font-size: 11.4px;
  font-family: arial;
  top:11px;
  left: 5px;
}

.but2{
  background-color: clear;
  color: black;
  padding: 10px 10px;
  font-size: 11.3px;
  font-family: arial;
  top:20px;
  left: 7px;
}

.linha{
  padding: 0.5px 130px;
  font-size: 11.2px;
  top:11px;
  left: 10px;
}
